.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1350px;
    height: 615px;

}
.T1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}
.T11{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 250px;
    background-color: red;
    border-radius: 10px;

}
.T12{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 250px;
    background-color: yellowgreen;
    border-radius: 10px;

}
.btn1{
    height: 200px;
    width:200px;
    border-radius: 100px;
    font-size: 100px;
}
.btn2{
    height: 200px;
    width:200px;
    border-radius: 100px;
    font-size: 100px;

}
.spa1{
    border-radius: 5px;
    height: 75px;
    width: 250px;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    font-size: 50px;

}
.spa2{
    border-radius: 5px;
    height: 75px;
    width: 250px;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    font-size: 50px;

}